.banner{
  height: 400px;
  // background: url('');
  background: #000;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  img {
    margin-top: 148px;
  }
}

.bd-placeholder-img{
  width: 200px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
