<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12 banner">
    <div class="row">
      <img class="col-xs-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3" src="assets/img/logo.png" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let category of categories">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ category.category }}</strong>
          <!-- <h3 class="mb-0">{{ category.product }}</h3> -->
          <p class="card-text mb-auto">{{ category.description }}</p>
          <a href="#" class="stretched-link">Associate!</a>
        </div>
        <div class="col-auto d-none d-lg-block bd-placeholder-img" [ngStyle]=category.img>
        </div>
      </div>
    </div>
  </div>
</div>
