.banner{
  height: 400px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzD-GGqKjqLZ0LyCavZCh0AaBPm7fq7xun7V2Dw3N7omD1-V7TXw');
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
