.banner{
  height: 300px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzD-GGqKjqLZ0LyCavZCh0AaBPm7fq7xun7V2Dw3N7omD1-V7TXw');
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}

.logo{
  margin-top: 300px;
  margin: auto;
  border: 2px solid #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url('https://img.freepik.com/vector-gratis/insignia-cafeteria-estilo-vintage_1176-95.jpg?size=626&ext=jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}
