.banner{
  height: 200px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzD-GGqKjqLZ0LyCavZCh0AaBPm7fq7xun7V2Dw3N7omD1-V7TXw');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.product-img{
  height: 200px;
  background-position: center;
  background-size: cover;
  background: #f0f;
}

.card{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 10px;
  margin-bottom: 10px;
}
